﻿@model Test2.Models.Email

@{
    ViewData["Title"] = "Create";
}


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <header class="head-box">
        <div class="col-12 text-center mt-4 mb-4 display-4"> Send an E-mail! </div>
    </header>



    <div class="p-3">
        @ViewData["message"]
        @ViewData["products"]


        <div class="col-12 label"> Sender </div>
        <div class="col-12 mb-4 "> @Html.TextBoxFor(m => m.Sender, new { @type = "email" })</div>
        <div class="col-12  mb-4">@Html.ValidationMessageFor(m => m.Sender, "", new { @class = "error-message" })</div>

        <div class="col-12 label"> Receiver </div>
        <div class="col-12 mb-4 "> @Html.TextBoxFor(m => m.Receiver, new { @type = "email" })</div>
        <div class="col-12  mb-4">@Html.ValidationMessageFor(m => m.Receiver, "", new { @class = "error-message" })</div>

        <div class="col-12 label"> Subject </div>
        <div class="col-12 mb-4"> @Html.TextBoxFor(m => m.Subject)</div>
        <div class="col-12  mb-4">@Html.ValidationMessageFor(m => m.Subject, "", new { @class = "error-message" })</div>

        @*"", new { @class() = "fr-view" }*@
        <div class="col-12 label"> Body </div>
        <div class="col-12 mb-4 fr-view"> @Html.TextAreaFor(m => m.Body, new { id = "edit" })</div>
        <div class="col-12 mb-4">@Html.ValidationMessageFor(m => m.Body, "", new { @class = "error-message" })</div>

    </div>
    <div class="col-12 button-div"> <input class="button" type="submit" value="Send" /></div>

}

<link href="https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/js/froala_editor.pkgd.min.js"></script>
<link href="../css/froala_style.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    var editor = new FroalaEditor('#edit')

    require('froala-editor/js/plugins/align.min');

    new FroalaEditor('#edit');
</script>
