﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
    --var-color: linear-gradient(90deg, #24a78d, #28e4bf);
    --var-border: #24a78d;
}


* {
    font-family: 'Press Start 2P', cursive;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
  margin-bottom: 60px;

}
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

input {
    width: 100%;
    border: 0;
    margin-top: 15px;
    border-bottom: 3px solid var(--var-border);
}

textarea {
    width: 100%;
    border: 0;
    border-bottom: 3px solid var(--var-border);
}

.label {
    color: var(--var-border);
    margin-top:20px;
}

.error-message {
    font-size: 12px;
    color: #d13535;
}

.button {
    background: var(--var-color);
    padding: 5px;
    color: #fff;
}

.button:hover {
    animation: createBox .25s;
    transform: scale(1.1);
}

.button:active {
    animation: Undo .25s;
    transform: scale(1.1);
}

@keyframes createBox {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes Undo {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);

    }
}

.head-box {
    background: var(--var-color);
    Padding: 15px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;
}

.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.button-div {
    position: sticky;
    bottom: 15px;
}

.second-toolbar {
    background: var(--var-color) !important;
}

.fr-counter {
    color: #fff !important;
}